parameters:
    paths:
        - src
        - tests

    level: 8

    excludePaths:
        - tests/RectorGenerator/Fixture

    ignoreErrors:
        -
            message: '#Method Rector\\RectorGenerator\\ValueObject\\RectorRecipe\:\:(.*?)\(\) should return string but returns string\|null#'
            paths:
                - src/ValueObject/RectorRecipe.php
