parameters:
    paths:
        - src
        - tests

    level: max

#    reportUnmatchedIgnoredErrors: false

    excludePaths:
        - tests/RectorGenerator/Fixture
        - tests/ValueObjectFactory/Fixture/expected_interactive

    ignoreErrors:
        - '#Parameter \#1 \$files of method Symplify\\SmartFileSystem\\Finder\\FinderSanitizer\:\:sanitize\(\) expects \(iterable<SplFileInfo\|string\>&Nette\\Utils\\Finder\)\|Symfony\\Component\\Finder\\Finder, array<string\> given#'

        # known values
        -
            message: '#Parameter \#1 (.*?) of class ReflectionClass constructor expects class\-string<T of object\>\|T of object, string given#'
            paths:
                - src/Provider/NodeTypesProvider.php

        -
            message: '#"setDocComment\(\)" call on "PhpParser\\Node" type is not allowed#'
            paths:
                - src/NodeFactory/ConfigureClassMethodFactory.php
                - src/NodeFactory/NodeFactory.php

        # actualy php-parser node
        -
            message: '#Instead of "new ClassReflection\(\)" use ReflectionProvider service or "\(new PHPStan\\Reflection\\ClassReflection\(<desired_type\>\)\)" for static reflection to work#'
            paths:
                - src/Provider/NodeTypesProvider.php
